/* .icons {
    margin-left: 30%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(183, 201, 226, 0.5);
    border-radius: 20px;

} */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 25vh;
    left: 3vw; 
    background-color: rgb(183, 201, 226, 0.5);
    border-radius: 20px;
    width: 5vw;
    height: 60vh;
  }

.icon {
    padding: 5%;
}

img {
    max-width: 100%;
    height: auto;
}