* {
    margin: 0;
    padding: 0;
}

/* img {
    position: relative;
    height: auto;
    width: 8vw;
    object-fit: cover;
    
} */

.tennisWrap {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}
