.nav-bar {
    display: flex;
    justify-content: center; /* Center items horizontally */
    width: 100%; /* Ensure the div spans the entire width */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Add this line to make the ul flex container */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #555;
}
