.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: column;
}

#self-introduction {
  background-color: #c8d9eb;
  display: inline-block;
  height: 60vh;
}

#projects {
  background-color: #f0d9da;
  height: 60vh;
}

#goldenGame {
  background-color:  #f9ecec;
  height: 60vh;
}

#footer {
  background-color:  #FEC47F;
  height: 15vh;
}

.topViewPort {
  display: block;
}

.middleViewPort {
  display: block;
}

.buttonViewPort {
  display: block;
}